body
  padding-top: 40px

#header
  color: #444
  h2
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
    float: left
  .user-info
    float: right
    margin-top: 5px
    span
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
      font-size: 1.1em
      top: 3px
      position: relative
      margin-right: 5px
    img
      height: 23px
      border: #AAA solid 1px

#new-post
  margin: 10px 20px
  text-align: center
  textarea
    width: 99%
  button
    width: 100%

